

.background{
    background-image: url(/images/back.png);
    width: 100%;
    height: 100%;
}
.card-body-1{
    background-color: #7777;
    padding: 15px;
}
.card-body-3{
    background-color: #7777;
}
.omit_dots{
    list-style-type:none;
}
.bg-color{
    background-color:  #7777;
    margin: 3px;
    border-radius: 35px;
    box-shadow: 23px 28px 30px -9px rgba(0,0,0,0.75);
    -webkit-box-shadow: 23px 28px 30px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 23px 28px 30px -9px rgba(0,0,0,0.75);
}
.widt_fuul{
    width: 100%;
    height: 100px;
    box-shadow:0px;
}
.footer{
    background-color:  #182c5c;
}
a{
    text-decoration: none;
    color: white;
}
.start{
    background-color:  #2596be;
    width: 180px;
    height: 40px;
}